body{
    background-color: grey;
    margin: 5x;
}
.container{
    padding: 5px;
}
.intro{
    border-radius: 12px;
    padding: 5px;
    background-color: white;
    margin-bottom: 10px;
}
.intro h1{
    border-radius: 100%;
    background-color: black;
    color: white;
    text-align: centre;
    padding: 10px;
}
.projects{
    border-radius: 12px;
    padding: 5px;
    background-color: white;;
    margin-bottom: 10px;
}
.projects h2{
    text-align: centre;
}
.projects li{
    margin-bottom: 10px
}
.hobbies h2{
    list-style-type: disc;
    padding-left: 20px;
}
.thankyou{
    border-radius: 12px;
    padding: 5px;
    background-color: white;
    text-align: centre;
}